<div class="row">

  <form [formGroup]="personalInfoForm" (ngSubmit)="onSubmitPersonalInformation()">

    <h4>Contact Details</h4>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="first-name">Your Name<span class="required">*</span></label>
        <input type="text" class="form-control" id="first-name" placeholder="First Name" formControlName="firstName"
          [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }">
        <div *ngIf="submitted && formControls.firstName.errors" class="invalid-feedback">
          <div *ngIf="formControls.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="last-name" class="invisible">Last Name</label>
        <input type="text" class="form-control" id="last-name" placeholder="Last Name" formControlName="lastName"
          [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }">
        <div *ngIf="submitted && formControls.lastName.errors" class="invalid-feedback">
          <div *ngIf="formControls.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Jurisdiction<span class="required">*</span></label>
      <input type="text" formControlName="jurisdiction" class="form-control" placeholder="For ex. New York" [ngClass]="{ 'is-invalid': submitted && formControls.jurisdiction.errors }" />
      <div *ngIf="submitted && formControls.jurisdiction.errors" class="invalid-feedback">
        <div *ngIf="formControls.jurisdiction.errors.required">Jurisdiction is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Email ID<span class="required">*</span></label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" />
      <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
        <div *ngIf="formControls.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div formArrayName="contactDetails">
      <div class="row" *ngFor="let contactDetail of contactDetails.controls; let contactDetailIndex=index" [formGroupName]="contactDetailIndex">
        <div class="form-group col-sm-4">
          <label for="contact-detail">Phone Number<span class="required">*</span></label>
          <select class="form-control" formControlname="type" id="contact-detail">
            <option value="cell">Cell</option>
            <option value="home">Home</option>
            <option value="office">Office</option>
          </select>
        </div>
        <div class="form-group col-sm-4">
          <label for="number" class="invisible">Number<span class="required">*</span></label>
          <input type="text" formControlName="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.contactDetail.controls.number.errors }" />
          <div *ngIf="submitted && formControls.contactDetail.controls.number.errors" class="invalid-feedback">
            <div *ngIf="formControls.contactDetail.controls.number.errors.required">Phone number is required</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="extension" class="invisible">Ext</label>
          <input class="form-control" formControlName="ext" type="number" placeholder="Ext">
        </div>
        <div class="col-sm-1">
          <label for="add" class="invisible">Add</label>
          <i class="fa fa-plus-square-o fa-2x" (click)="addContactDetail()"></i>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="fax-number">Fax Number</label>
      <input type="text" formControlName="faxNumber" class="form-control">
    </div>

    <h4>About Yourself</h4>
    <div class="form-group avatar-upload">
      <p>Profile Image</p>
      <div class="avatar-edit">
        <input type="file" id="imageUpload" (change)="onSelectFile($event)" accept=".png, .jpg, .jpeg">
        <label for="imageUpload"></label>
      </div>
      <div class="avatar-preview">
        <img [src]="url" height="200">
      </div>
    </div>
    <div class="form-group">
      <label for="headline">Headline</label>
      <textarea class="form-control" id="headline" rows="3" placeholder="Write a message that you would like to highlight in your profile"></textarea>
    </div>
    <div class="form-group">
      <label for="describe-yourself">Describe Yourself</label>
      <textarea class="form-control" id="headline" rows="5" placeholder="Describe your strengths and skills, career highlights or accompolishments"></textarea>
    </div>

    <!-- TODO: Need to use Input tag library -->
    <div class="form-group">
      <label for="language">Language Spoken</label>
      <input type="text" class="form-control">
    </div>

    <!-- TODO: Need to discuss the case with team -->
    <h3>Introduction Video</h3>
    <div class="form-group">
      <label for="external-url">Enter URL</label>
      <input type="text" placeholder="Enter the link to your video" class="form-control">
    </div>
    <h5>OR</h5>
    <div class="form-group">
      <input type="file" class="form-control-file">
      <small>A video would help clients and other attorneys better understand your vision, experience, accompolishments
        etc.</small>
    </div>

    <h3>Work Experience</h3>
    <div formArrayName="workExp">
      <div *ngFor="let item of workExps.controls; let workExpIndex=index" [formGroupName]="workExpIndex">
        <div class="form-group">
          <label for="role">Role<span class="required">*</span> </label>
          <input type="text" class="form-control" id="role" formControlName="role">
        </div>
        <div class="form-group">
          <label for="firmName">Firm Name<span class="required">*</span> </label>
          <input type="text" class="form-control" id="firmName" formControlName="firmName">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" formControlName="location">
        </div>
        <div class="row">
          <div class="col-sm-6" formGroupName="fromDate">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="fromMonth">From</label>
                <select class="form-control" formControlname="fromMonth" id="fromMonth">
                  <option value="01">Jan</option>
                  <option value="02">Feb</option>
                  <option value="03">Mar</option>
                </select>
              </div>
              <div class="form-group col-sm-6">
                <label for="fromYear" class="invisible">From</label>
                <select class="form-control" formControlname="fromYear" id="fromYear">
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-6" formGroupName="toDate">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="toMonth">To</label>
                <select class="form-control" formControlname="toMonth" id="toMonth">
                  <option value="01">Jan</option>
                  <option value="02">Feb</option>
                  <option value="03">Mar</option>
                </select>
              </div>
              <div class="form-group col-sm-6">
                <label for="toYear" class="invisible">To</label>
                <select class="form-control" formControlname="toYear" id="toYear">
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" value="" id="currently-working-here">
          <label class="custom-control-label" for="currently-working-here">
            I am currently working here
          </label>
        </div>
        <hr>
      </div>
    </div>
    <i class="fa fa-plus-square-o" (click)="addWorkExp()"></i>
    <span> Add Work Experience</span>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary btn-block">Continue</button>
    </div>
  </form>
</div>