<div class="tabbed-navigation">
  <a class="tabbed-navigation__item" routerLinkActive="active"  [routerLink]="['personal-information']">Personal Information</a>
  <a class="tabbed-navigation__item" routerLinkActive="active"  [routerLink]="['education-details']">Education Details</a>
  <a class="tabbed-navigation__item" routerLinkActive="active"  [routerLink]="['firm-description']">Firm Description</a>
  <a class="tabbed-navigation__item" routerLinkActive="active"  [routerLink]="['notable-matters']">Notable Matters</a>
  <a class="tabbed-navigation__item" routerLinkActive="active"  [routerLink]="['achievements']">Achievements</a>
</div>